{% extends "layouts/base.html" %}

{% block title %} Campus Routing {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
<div>
    <div class="container-fluid">

        <h1>Campus Router</h1>
        <div class="row">
            <div class="col-lg-6">
                <p>Wondering how long it'll take to walk between your classes? Enter in the two buildings to see them highlighted on the map and get an accurate time to walk between them powered by Google Maps.</p>
                <br>
                <h4>Select the two academic buildings below:</h4>

                {% if context.error_message != None %}
                    <h2> {{ context.error_message }} </h2>
                {% endif %}

                <form method="post" action="{{ url_for('campus_routing') }}">
                    <div class="form-group">

                        <!-- Building 1 -->

                        <div class="mb-3">
                            <label for="building_1_selection">Building 1</label>
                            <select class="form-select" id="building_1_selection" name="building_1_selection" required>
                                {% for building in context.academic_buildings_list %}
                                    <option value="{{ building['BUILDING_NAME'] }}">{{ building['BUILDING_NAME'] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Building 2 -->

                        <div class="mb-3">
                            <label for="building_2_selection">Building 2</label>
                            <select class="form-select" id="building_2_selection" name="building_2_selection" required>
                                {% for building in context.academic_buildings_list %}
                                    <option value="{{ building['BUILDING_NAME'] }}">{{ building['BUILDING_NAME'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="campus-map-holder">
                    {% include 'includes/campus_map.html' %}
                </div>
            </div>
        <!--<a class="button" href="{{ url_for('index') }}">Return to Campus Routing</a>-->
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}