{% extends "layouts/base.html" %}

{% block title %} Campus Routing {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
<div>
    <div class="container-fluid">

        <h1>Campus Router</h1>

        <p> Curious how long it will take you to get from Building A to Building B? This Website can help. </p>

        <br>

        <h2> Select the buildings you want a travel time estimate for below. </h2>

        <br>

        {% if context.error_message != None %}
            <h2> {{ context.error_message }}
        {% endif %}

        <form method="post" action="{{ url_for('campus_routing') }}">
            <div class="form-group">

                <!-- Building 1 -->

                <div class="mb-3">
                    <label for="building_1_selection">Building 1</label>
                    <select class="form-select" id="building_1_selection" name="building_1_selection" required>
                        {% for building in context.academic_buildings_list %}
                            <option value="{{ building['BUILDING_ADDRESS'] }}">{{ building['BUILDING_NAME'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Building 2 -->

                <div class="mb-3">
                    <label for="building_2_selection">Building 2</label>
                    <select class="form-select" id="building_2_selection" name="building_2_selection" required>
                        {% for building in context.academic_buildings_list %}
                            <option value="{{ building['BUILDING_ADDRESS'] }}">{{ building['BUILDING_NAME'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <a class="btn btn-primary animate-hover" href="{{ url_for('index') }}">Return to Home</a>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}