{% extends "layouts/base.html" %}

{% block title %} Course Details  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <h1>Course Details</h1>
                        <p>CO REQ: {{ context.course_details['CO_REQ'] }} </p>
                        <p>COURSE DESC: {{ context.course_details['COURSE_DESC'] }} </p>
                        <p>COURSE_MEETINGS: {{ context.course_details['COURSE_MEETINGS'] }} </p>
                        <p>MAJOR EXCLUDE: {{ context.course_details['MAJOR_EXCLUDE'] }} </p>
                        <p>MAJOR INCLUDE: {{ context.course_details['MAJOR_INCLUDE'] }} </p>
                        <p>SC PROG EXCLUDE: {{ context.course_details['SC_PROG_EXCLUDE'] }} </p>
                        <p>SC PROG INCLUDE: {{ context.course_details['SC_PROG_INCLUDE'] }} </p>
                        <p>CRN ID: {{ context.course_details['CRN_ID'] }} </p>
                        <p>COURSE ID: {{ context.course_details['COURSE_ID'] }} </p>
                        <p>END DATE: {{ context.course_details['END_DATE'] }} </p>
                        <p>START DATE: {{ context.course_details['START_DATE'] }} </p>
                        <p>SUBJECT CODE: {{ context.course_details['SUBJECT_CODE'] }} </p>
                        <p>TERM CODE: {{ context.course_details['TERM_CODE'] }} </p>
                        <p>WAIT AVAIL: {{ context.course_details['WAIT_AVAIL'] }} </p>
                        <p>WAIT CAPACITY: {{ context.course_details['WAIT_CAPACITY'] }} </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}