{% extends "layouts/base.html" %}

{% block title %} Course Details  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div>
            <h5>{{ context.course['TERM_DESC'] }}</h5>
            <div class="row">
                <div class="col-10">
                    <h1>{{ context.course['TITLE'] }} ({{ context.course['COURSE_ID'] }})</h1>
                </div>
                <div class="col-2">
                    <h4><span class="highlight-text">{{ context.course_details['CRN_ID'] }}</span></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3>Instructor: {{ context.course['INSTRUCTOR'] }}</h3>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h4>Credit Hours: {{ context.course['CREDIT_HRS'] }}</h4>
                </div>
            </div>
            <p>Attributes: 
                {% for attr in context.course['COURSE_ATTR'] %}
                 <span class="highlight-text">{{ attr }}</span> 
                {% endfor %}
            </p>
            <p>Meets on {{ context.course['COURSE_DAYS'] }} from {{ context.course['COURSE_TIME'] }}
            {% if context.course_details['COURSE_MEETINGS'] %}
                in {{ context.course_details['COURSE_MEETINGS'][0]['course_meet_building'] }} {{context.course_details['COURSE_MEETINGS'][0]['course_meet_room']}}
            {% endif %}
            </p>
            <p><i>{{ context.course_details['COURSE_DESC'] }}</i></p>
            
            <p>Starts on {{ context.course_details['START_DATE'] }} and ends on {{ context.course_details['END_DATE'] }}</p>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-s-12">
                    <p>Major Include:<br>
                    {% for major in context.course_details['MAJOR_INCLUDE'] %}
                        {{major}}
                    {% endfor %}
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12">
                    <p>Major Exclude:<br>
                        {% for major in context.course_details['MAJOR_EXCLUDE'] %}
                            {{major}}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12">
                    <p>Social Class Include: <br>
                        {% for social_class in context.course_details['SC_PROG_INCLUDE'] %}
                            {{social_class}}
                        {% endfor %}
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-s-12">
                    <p>Social Class Exclude: <br>
                        {% for social_class in context.course_details['SC_PROG_EXCLUDE'] %}
                            {{social_class}}
                        {% endfor %}
                    </p>
                </div>
            </div>

            <!--<p>CO REQ: {{ context.course_details['CO_REQ'] }} </p>
            <p>SUBJECT CODE: {{ context.course_details['SUBJECT_CODE'] }} </p>
            <p>TERM CODE: {{ context.course_details['TERM_CODE'] }} </p>
            <p>WAIT AVAIL: {{ context.course_details['WAIT_AVAIL'] }} </p>
            <p>WAIT CAPACITY: {{ context.course_details['WAIT_CAPACITY'] }} </p>-->
            <!--<p>COURSE LEVEL: {{ context.course['COURSE_LEVEL'] }} </p>
            <p>IS_CROSSLISTED: {{ context.course['IS_CROSSLISTED'] }}</p>
            <p>IS_OPEN: {{ context.course['IS_OPEN'] }}</p>
            <p>PART_OF_TERM: {{ context.course['PART_OF_TERM'] }}</p>
            <p>PROJ_ENR: {{ context.course['PROJ_ENR'] }}</p>
            <p>SEATS_AVAIL: {{ context.course['SEATS_AVAIL'] }}</p>-->
            <!--<p>SUBJECT_CODE: {{ context.course['SUBJECT_CODE'] }}</p>-->

            <a class="button" href="{{ url_for('index') }}">Home</a>
        </div>
    </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}