{% extends "layouts/base.html" %}
{% set active_page = "index" %}

{% block title %} A Better Courselist {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
<div>
    <div class="container-fluid">


        <h1>Welcome to Ampersand Courselist!</h1>

        <p> Server Time: {{ context.server_time }} </p>

        <br>

        <h2> Search Your Classes </h2>

        <br>

        {% if context.error_message != None %}
            <h2> {{ context.error_message }}
        {% endif %}

        <form method="post" action="{{ url_for('results') }}">
            <div class="form-group">

                <div class="mb-3">
                    <label for="term_selection">Term</label>
                    <select class="form-control" id="term_selection"  name="term_selection" required>
                        {% for term in context.terms_list %}
                            <option value="{{ term['TERM_CODE'] }}">{{ term['TERM_DESC'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="subject_selections">Subject</label>
                    <select class="form-select" id="subject_selections" name="subject_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        {% for subject in context.subjects_list %}
                            <option value="{{ subject['SUBJ_CODE'] }}">{{ subject['SUBJ_DESC'] }} ({{ subject['SUBJ_CODE'] }})</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Attributes -->

                <div class="mb-3">
                    <label for="attr_selections">Attribute</label>
                    <select class="form-select" id="attribute_selections" name="attr_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        {% for attr in context.attr_list %}
                            <option value="{{ attr['ATTR_CODE'] }}">{{ attr['ATTR_DESC'] }} ({{ attr['ATTR_CODE'] }})</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Level -->

                <div class="mb-3">
                    <label for="level_selections">Level</label>
                    <select class="form-select" id="level_selections" name="level_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        {% for level in context.levels_list %}
                            <option value="{{ level['LEVEL_CODE'] }}">{{ level['LEVEL_DESC'] }} ({{ level['LEVEL_CODE'] }})</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Status -->

                <div class="mb-3">
                    <label for="status_selections">Status</label>
                    <select class="form-select" id="status_selections" name="status_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        <option value="True">Open</option>
                        <option value="False">Closed</option>
                    </select>
                </div>

                <!-- Part of Term -->

                <div class="mb-3">
                    <label for="part_of_term_selections">Part Of Term</label>
                    <select class="form-select" id="part_of_term_selections" name="part_of_term_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        {% for part_of_term_code in context.part_of_term_codes_list %}
                            <option value="{{ part_of_term_code['PART_TERM_CODE'] }}">{{ part_of_term_code['PART_TERM_DESC'] }} ({{ part_of_term_code['PART_TERM_CODE'] }})</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Professor -->

                <div class="mb-3">
                    <label for="professor_selections">Professor</label>
                    <select class="form-select" id="professor_selections" name="professor_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        {% for professor in context.professors_list %}
                            <option value="{{ professor['PROF_CODE'] }}">{{ professor['PROF_FULL_NAME'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Credit Hours -->

                <div class="mb-3">
                    <label for="credit_hours_selections">Credit Hour</label>
                    <select class="form-select" id="credit_hours_selections" name="credit_hours_selections" required multiple>
                        <option selected value="ALL">ALL</option>
                        {% for credit_hours in context.credit_hours_list %}
                            <option value="{{ credit_hours['CREDIT_HOURS_CODE'] }}">{{ credit_hours['CREDIT_HOURS_DESC'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- DAY -->

                <!-- TIME -->

                <!-- Building / Room -->

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- Random Button -->

        <!-- All Courses -->
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}