{% extends "layouts/base.html" %}
{% set active_page = "index" %}

{% block title %} A Better Courselist {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
<div>
    <div class="container-fluid">
        <h1>Welcome to Ampersand Courselist!</h1>

        <p> Server Time: {{ context.server_time }} </p>

        <br>

        <h2> Search Your Classes </h2>

        <br>

        <form method="post" action="/submit">
            <div class="form-group">

                <label for="term-selection">Term</label>
                <select class="form-control" id="term-selection" required>
                    {% for term in context.terms_list %}
                        <option value="{{ term['TERM_CODE'] }}">{{ term['TERM_DESC'] }}</option>
                    {% endfor %}
                </select>

                <label for="subject-selection">Subjects</label>
                <select class="form-control" id="subject-selection" required>
                    {% for subject in context.subjects_list %}
                        <option value="{{ subject['SUBJ_CODE'] }}">{{ subject['SUBJ_DESC'] }} ({{ subject['SUBJ_CODE'] }})</option>
                    {% endfor %}
                </select>

                <!-- Attributes -->

                <!-- Level -->

                <!-- Status -->

                <!-- Part of Term -->

                <!-- Building / Room -->

                <!-- Professor -->

                <!-- Credit Level -->

                <!-- All Courses -->

                <!-- Random Button -->
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}