{% extends "layouts/base.html" %}

{% block title %} ISC Assistant {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
<div>
    <div class="container-fluid">

        <h1>ISC Assistant</h1>
        <div class="row">
            <div class="col-12">
                <p>Wondering how long it'll take to walk between your classes? Enter in the two buildings to see them highlighted on the map and get an accurate time to walk between them powered by Google Maps.</p>
                <br>
                <h4>Select the two academic buildings below:</h4>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}