{% extends "layouts/base.html" %}

{% block title %} ISC Assistant {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
<div>
    <div class="container-fluid">

        <h1>ISC Assistant</h1>
        <div class="row">
            <div class="col-12">
                <p>Having trouble navigating the maze that is ISC? Look no further than this useful little assistant. Click any two points on the path for the first floor of ISC and see the route to walk to get to your destination. This is built off of a powerful node-based path system which would allow for a great deal of inclusions in the future. This includes linking multiple floors, selecting based on room number, and even dictating the entire path verbally by providing an instruction to each path component of the map and reading those back.</p>
                <br>
                <div class="campus-map-holder">
                    {% include 'includes/isc_map.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}