<header class="header">
    <div class="header-content responsive-wrapper">
        <div class="header-logo">
            <a href="#">
                <div>
                    
                </div>
            </a>
        </div>
        <div class="header-navigation">
            <nav class="header-navigation-links">
                <a href="/">Home</a>
                <a href="/campus-routing">Campus Routing</a>
            </nav>
            <div class="header-navigation-actions">
                <a href="#" class="icon-button">
                    <span class="icon material-symbols-outlined">settings</span>
                </a>
                <button >
                    <span class="icon material-symbols-outlined">bolt</span>
                    <span>Log In</span>
                </button>
            </div>
            <button id="menu-toggle" >
                <span class="icon material-symbols-outlined">menu</span>
                <span>Menu</span>
            </button>
        </div>
    </div>
</header>