<header class="header-responsive">
    <div class="header-content responsive-wrapper">
        <div class="header-logo">
            <a href="{{ url_for('index') }}">
                <div>
                    <img src="/favicon/android-chrome-512x512.png" />
                </div>
            </a>
        </div>
        <div class="header-navigation">
            <nav class="header-navigation-links">
                <a {% if request.path == url_for('index') %} class="active" {% endif %} href="{{ url_for('index') }}">Home</a>
                <a {% if request.path == url_for('campus_routing') %} class="active" {% endif %} href="{{ url_for('campus_routing') }}">Campus Routing</a>
            </nav>
            <div class="header-navigation-actions">
                <a href="#" class="icon-button">
                    <span class="icon material-symbols-outlined">menu</span>
                </a>
            </div>
            <button id="menu-toggle" >
                <span class="icon material-symbols-outlined">menu</span>
                <span>Menu</span>
            </button>
        </div>
    </div>
</header>